$color-yellow : #F9E500;
$score-color-transition-time: 3s;
$bg: #333;
$push-color: #F9E500;
$push-size: 56px;

@font-face {
  font-family: 'arcadeFont';
  src: url('../assets/fonts/ARCADE_N.TTF');
}

@font-face {
  font-family: 'pacmanFont';
  src: url('../assets/fonts/PAC-FONT.TTF')
}



body{
  //background-color: lightgray;
  background-image: url("../assets/img/bg.png");
  background-size: inherit;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'pacmanFont';

  margin: 0 7%;
}


nav{

  padding: 10px 0;
  width: 100%;
  max-width: 1250px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .nav-left{

    height: 100%;
    img{
      height: 90%;
    }

    margin-right: 5%;

  }


  .nav-right{
    margin-left: 5%;
    flex-grow: 1;
    ul{
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8rem;

      li{
        height: 100%;
        cursor: pointer;

        a{
          color: inherit;
          text-decoration: none;
        }
      }

      li:hover{
        color: $color-yellow;
      }
    }

  }



}

header{

  margin: 20px auto;
  //height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    //height: 100%;
    width: 30%;
    opacity: 0.85;
  }
}


main{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'arcadeFont';

  .play-zone{
    margin: 20px auto;

    .metrics{
      display: flex;
      justify-content: space-around;
      padding: 5% 0;
    }

    #score.animation{
      -webkit-transition: $score-color-transition-time;
      -moz-transition: $score-color-transition-time;
      -ms-transition: $score-color-transition-time;
      -o-transition: $score-color-transition-time;
      transition: $score-color-transition-time;
      color: $color-yellow;
    }

  }

  .btn-zone{
    margin-top: 15px;
    font-size: 0.9rem;
  }


}



[class*="push"] {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: $push-color;
  background-image: url("../assets/img/dirty-yellow.png");
  background-size: contain;

  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}
.push--flat {
  color: black;
  font-weight: 700;

  box-shadow:
    inset 0 $push-size/32 0 lighten($push-color, 5%),
    inset 0 (-$push-size/32) 0 darken($push-color, 5%),
    inset 0 0 0 $push-size/32 darken($push-color, 3%),
    inset 0 0 0 $push-size/12 $push-color,
    inset 0 0 0 $push-size/10 darken($push-color, 20%),
    inset 0 0 0 $push-size/9.2 darken($push-color, 50%),
    inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .3),
    inset 0 0 0 $push-size/5.5 $push-color,
    inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken($push-color, 10%),
    0 $push-size/20 0 rgba(0, 0, 0, .3);

  &:after {
    content: '';
    position: absolute;
    bottom: $push-size/20;
    left: $push-size/10;
    display: block;
    width: $push-size/1.25;
    height: $push-size/1.25;
    border: $push-size/15 solid rgba(0, 0, 0, .3);
    border-width: 0 0 $push-size/15;
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow:
      inset 0 $push-size/32 0 lighten($push-color, 5%),
      inset 0 (-$push-size/32) 0 darken($push-color, 5%),
      inset 0 0 0 $push-size/32 darken($push-color, 3%),
      inset 0 0 0 $push-size/12 $push-color,
      inset 0 0 0 $push-size/10 darken($push-color, 20%),
      inset 0 0 0 $push-size/8.5 darken($push-color, 40%),
      inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .8),
      inset 0 0 0 $push-size/5.5 darken($push-color, 3%),
      inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 8%),
      inset 0 0 $push-size/10 $push-size/6 darken($push-color, 15%),
      0 $push-size/20 0 rgba(0, 0, 0, .3);
    background-color: darken($push-color, 2%);

    &:after {
      bottom: $push-size/20 + $push-size/15;
      border-width: 0;
    }
  }
}









